
.my-color {
	color: red;
}

.my-font {
	font-family: 'Work Sans';
}

.my-root-class {
	background: white;
}

.my-root-class body {
	background: url(./assets/light_background.png) no-repeat center center fixed;
	background-size: cover;
}

